@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  align-align: center;
  --accent-color: #000000;
  --gray: #808080;
  --secondary-font: "Roboto", sans-serif;
  justifyContent: "center"
}

#tools {
  padding: auto;
  margin: auto;
  height: auto;
  background-color: white;
}

#tools #title {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--accent-color);
  padding-top: 15px;
}

@media screen and (min-width: 300px) {
  #tools {
    padding: 10%;
  }

  #tools #title {
    width: 0vw;
  }
}

@media screen and (min-width: 900px) {
  #tools {
    padding-block: 10%;
    padding-left: 15%;
  }
}

.tools-names {
  margin-inline: 0px;
}

.tools-names p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  color: 008080;
  transition: font-size 0.3s ease-in-out;
  display: flex;
  justify-content: "center";
  align-items: center;
  margin: 10px;
  cursor: pointer;
  text-align: center;

}

.tools-names p:hover {
  color: var(--gray);
  font-size: 2.2em;
  font-weight: medium;
}

.tools-names .languages-icons {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.tools-names .languages-icons:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .sound-div {
    display: none;
  }
}

.sound-div {
  animation: bounce 1s infinite;
  font-weight: bold;
  margin-top: 15px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
